.main-open {
  position: relative;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-color: #f3ece5;
  background-image: url("../img/main-open_bg.webp");

  @include mobile {
    background-size: 1000px 460px;
    background-position: -460px 184px;
  }

  &__decor {
    top: 0;
    left: 0;
  }
  &__sky {
    z-index: 1;
    bottom: 0;
  }
  &__star {
    top: 100px;
    right: 100px;
    @include small-tablet {
      top: 100px;
      right: 250px;
    }

    @include mobile {
      top: 60px;
      right: 0px;
    }
  }

  &__container {
    height: 46vw;
    min-height: 500px;
    z-index: 3;
    position: relative;
    display: flex;
    align-items: center;

    @include small-tablet {
      height: 60vw;
    }

    @include mobile {
      height: 600px;
      padding-bottom: 100px;
    }
  }
  &__info {
    max-width: 33vw;

    @include small-tablet {
      max-width: 98vw;
    }
  }
  &__title {
    text-align: left;

    @include mobile {
      max-width: 60vw;
    }
  }
  &__subtitle {
    margin-top: 12px;
    text-align: left;
    @include mobile {
    }
  }
  &__text {
    margin-top: 2vw;
    @include small-tablet {
      max-width: 48vw;
    }
    @include mobile {
      max-width: 230px;
    }
  }

  &__box {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 55%;

    @include small-tablet {
      top: 70%;
      left: 70%;
    }

    @include mobile {
      top: 84%;
      left: 30%;
    }
  }
  &__btn {
    position: relative;
    display: block;

    svg {
      width: 7vw;
      height: auto;

      @include mobile {
        min-width: 60px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -40px;
      left: -5vw;
      width: 5vw;
      height: 4.5vw;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../img/main-open_arrow.webp");

      @include mobile {
        top: 0;
        left: -50px;
        width: 40px;
        height: 40px;
      }
    }
    &::after {
      position: absolute;
      top: -140px;
      left: -8vw;
      width: 12vw;
      min-width: 220px;
      height: auto;
      content: "Посмотрите короткое 45 секундное видео о компании";
      font-family: var(--font-family);
      font-style: italic;
      font-weight: 500;
      font-size: clamp(0.75rem, 0.25rem + 1.78vw, 1.25rem);
      line-height: 140%;
      color: var(--font-color);
      @include small-tablet {
        top: -10vw;
        min-width: 160px;
      }
      @include mobile {
        left: -80px;
        width: 200px;
      }
    }
  }

  &__modal {
    // display: none;
    // &-active {
    //   position: relative;
    //   z-index: 9;
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   bottom: 0;
    //   right: 0;

    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   background: rgba(0, 0, 0, 0.7);
    // }

    // &-video {
    //   max-width: 70%;
    //   width: 100%;
    //   height: 500px;
    //   @include mobile {
    //     max-width: 90%;
    //     height: 340px;
    //   }
    // }
    // &-close {
    //   position: absolute;
    //   top: 150px;
    //   right: 7vw;
    //   width: 48px;
    //   height: 48px;

    //   cursor: pointer;

    //   @include mobile {
    //     top: 150px;
    //     right: 6vw;
    //     width: 28px;
    //     height: 28px;
    //   }
    //   svg {
    //     width: 100%;
    //     height: auto;
    //     fill: var(--accent-color);
    //   }
    // }
  }
}
