.main-publications {
  position: relative;
  padding: 50px 0;
  background: var(--bg-color);

  &__star-big {
    top: 0;
    left: 0;
    @include mobile {
      top: 60px;
      left: -40px;
    }
  }
  &__title {
    text-align: center;
  }

  &__wrapper {
    position: relative;
    margin-top: 40px;
  }
  &__item {
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      border-radius: 30px;
      height: 470px;
      border-radius: 30px;
      object-fit: cover;
      @include tablet {
        height: 390px;
      }
    }
  }
  &__btn {
    position: absolute;
    top: 50%;

    transform: translate(50%, -50%);
    &-prev {
      left: -40px;
      @include small-tablet {
        left: -64px;
      }
      @include mobile {
        left: -32px;
      }
    }
    &-next {
      right: 10px;
      @include small-tablet {
        right: -12px;
      }
      @include mobile {
        right: 0;
      }
    }
  }
}
