.main-about {
  position: relative;
  padding: 60px 0;

  &__ring {
    z-index: -1;
    top: 350px;
    left: -400px;
  }
  &__decor {
    top: 100px;
    right: -50px;
    transform: rotateY(180deg);
  }
  &__container {
    position: relative;
    display: grid;
    justify-items: center;
  }
  &__logo {
    width: 493px;
    height: 215px;

    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/main-about_logo.png');
  }
  &__text {
    margin-top: 40px;
    max-width: 884px;
    text-align: center;
  }
  &__title {
    margin-top: 102px;
    text-align: center;
    &-name {
      text-align: center;
      text-transform: none;
      font-size: 120px;
      line-height: 100%;
      font-family: var(--third-family);
    }
  }
  &__box {
    position: relative;
    margin-top: 46px;
    padding: 56px;
    max-width: 710px;
    border-radius: 31px;
    background: var(--light-color);
    box-shadow: 0 20px 30px 0 rgba(218, 192, 167, 0.5);

    &::before {
      z-index: -1;
      position: absolute;
      content: '';
      width: 930px;
      height: 805px;
      top: -100px;
      right: -650px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../img/main-about_photo.png');
    }
    &::after {
      z-index: -2;
      position: absolute;
      content: '';
      width: 860px;
      height: 1210px;
      top: -100px;
      right: -650px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../img/main-about_line.png');
    }

    &-title {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 35px;
      line-height: 140%;
      color: #3d3935;
      opacity: 0.8;
    }
    &-text {
      margin-top: 18px;
    }
    &-link {
      margin-top: 23px;
      max-width: 181px;
      display: block;
    }
  }
}
