.star,
.star-big {
  position: absolute;
  width: 84px;
  height: 92px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/star.webp");
  animation: puls-star 4s infinite linear;

  &-big {
    width: 124px;
    height: 132px;
    animation: puls-star 6s infinite linear;
  }
}

@keyframes puls-star {
  0% {
    opacity: 1;
    transform: scale(1, 1);
    animation-timing-function: linear;
  }

  50% {
    opacity: 0.4;
    transform: scale(0.55, 0.55);
    animation-timing-function: linear;
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
