<!-- <div class="dropdown">
  <div class="dropdown__wrapper">
    <button class="dropdown__btn btn-reset">Какой у Вас вопрос?</button>
    <ul class="dropdown__list list-reset">
      <li class="dropdown__list-item" data-value="family">Семья</li>
      <li class="dropdown__list-item" data-value="sex">Отношения и секс</li>
      <li class="dropdown__list-item" data-value="finance">
        Финансы и карьера
      </li>
      <li class="dropdown__list-item" data-value="health">Здоровье</li>
      <li class="dropdown__list-item" data-value="Anxiety">Тревога</li>
      <li class="dropdown__list-item" data-value="Fear">Страх</li>
      <li class="dropdown__list-item" data-value="Stress">Стресс</li>
      <li class="dropdown__list-item" data-value="search">
        Поиск новых ориентиров
      </li>
    </ul>
    <input type="text" class="dropdown__list-input" name="question" value="" />
  </div>
</div> -->
