<section class="about-comfort">
  <div class="about-comfort__sky sky">
    <img src="img/sky.webp" alt="" width="5928" height="392" />
  </div>
  <div class="about-comfort__sky sky">
    <img src="img/sky.webp" alt="" width="5928" height="392" />
  </div>
  <div class="about-comfort__decor decor"></div>

  <div class="about-comfort__container container">
    <div class="about-comfort__star star"></div>
    <div class="about-comfort__star-big star-big"></div>
    <h2 class="about-comfort__title title">Почему со мной комфортно?</h2>
    <ul class="about-comfort__list list-reset">
      <li class="about-comfort__item">
        <span class="about-comfort__item-number">01</span>
        <p class="about-comfort__item-text text">
          Я использую уникальные инструменты для работы: телесная терапия,
          кинезеология, энергетические практики, медитация и коучинг.
        </p>
      </li>
      <li class="about-comfort__item">
        <span class="about-comfort__item-number">02</span>
        <p class="about-comfort__item-text text">
          У меня природные чувства видеть, чувствовать, и воспринимать больше.
          Особенная энергия, которую люди чувствуют сразу – клиентам очень
          просто открываться мне.
        </p>
      </li>
      <li class="about-comfort__item">
        <span class="about-comfort__item-number">03</span>
        <p class="about-comfort__item-text text">
          Быстрый результат за счёт глубины проработки: одна сессия приносит
          изменения в жизнь как 5-10 сессий у психологов и коучей.
        </p>
      </li>
      <li class="about-comfort__item">
        <span class="about-comfort__item-number">04</span>
        <p class="about-comfort__item-text text">
          Оптимальная стоимость часовой консультации и возможность выгодно
          оплатить сразу несколько сессий наперед.
        </p>
      </li>
      <li class="about-comfort__item">
        <span class="about-comfort__item-number">05</span>
        <p class="about-comfort__item-text text">
          Обширный опыт работы с совершенно разными и уникальными людьми: больше
          30 постоянных клиентов и 300+ часов и сессий.
        </p>
      </li>
      <li class="about-comfort__item">
        <span class="about-comfort__item-number">06</span>
        <p class="about-comfort__item-text text">
          Оффлайн-сессии проходят в центре Москвы, в стильном и уютном
          пространстве в 5 минутах от метро Полянка.
        </p>
      </li>
    </ul>
  </div>
</section>
