<section class="about-motto">
  <div class="about-motto__line line line-2"></div>
  <div class="about-motto__container container">
    <div class="about-motto__star star-big"></div>
    <div class="about-motto__ring ring"></div>
    <div class="about-motto__info">
      <p class="about-motto__text text">
        Мои клиенты говорят, что со мной легко и комфортно, а результаты всего
        нескольких сессий равносильны посещению психолога на протяжении 3-6
        месяцев. <br />За 1-2 сеанса я помогаю им освободиться от негативных
        установок в личной жизни, финансах и найти корни всех проблем.
      </p>
      <p class="about-motto__text text">
        Со мной люди решают проблему раз и навсегда за счёт глубинной работы,
        исцеления психотравм, поиска ваших точек опоры и внутренних ресурсов. А
        также за счёт моих природных способностей, которые начали раскрываться
        ещё в юном возрасте и с годами только крепли.
      </p>
    </div>
    <div class="about-motto__wrapper">
      <img src="../img/about-motto.png" alt="" class="about-motto__img" />
      <p class="about-motto__motto">
        Я верю в то, что вы можете жить радостной и полной смысла жизнью... Так
        начнем же сегодня?
      </p>
    </div>
  </div>
</section>
