<section class="about-hero">
  <div class="about-motto__star star-big"></div>
  <div class="about-hero__decor decor"></div>
  <div class="about-hero__line line line-1"></div>
  <div class="about-hero__sky sky">
    <img src="img/sky.webp" alt="" width="5928" height="392" />
  </div>
  <div class="about-hero__container container">
    <img
      src="../img/about-hero.png"
      alt=""
      class="about-hero__img"
      width="445"
      height="751"
    />
    <div class="about-hero__wrapper">
      <h1 class="about-hero__title title">
        Меня зовут <br /><span> Мария Валенская</span>
      </h1>
      <p class="about-hero__text text">
        Я душевный человек, квантовый психолог и автор публикаций по квантовой
        физике, медитациям и осознанной жизни. <br /><br />
        Основатель компании J.O.Y Consalting
      </p>
      <ul class="about-hero__list list-reset">
        <span class="about-hero__list-title title">ОБРАЗОВАНИЕ</span>
        <li class="about-hero__list-item text">НИУ ВШЭ</li>
        <li class="about-hero__list-item text">МИП</li>
        <li class="about-hero__list-item text">University of London</li>
        <li class="about-hero__list-item text">
          Повышение квалификации по сексологии в Общероссийской профессиональной
          терапевтической лиге
        </li>
        <li class="about-hero__list-item text">
          Повышение квалификации по NEO-методу Софии Преображенской
        </li>
      </ul>
      <a href="session.html" class="about-hero__link btn"
        >записаться на сессию</a
      >
    </div>
  </div>
</section>
