<section class="main-reviews">
  <div class="main-reviews__container container">
    <div class="main-reviews__ring ring"></div>
    <div class="main-reviews__star star"></div>
    <div class="main-reviews__star-big star-big"></div>

    <h2 class="main-reviews__title title">клиенты обо мне</h2>
    <h3 class="main-reviews__subtitle subtitle">Отзывы</h3>

    <div class="main-reviews__wrapper">
      <div class="main-reviews__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="main-reviews__item">
              <img
                src="img/main-reviwes_avatar-5.webp"
                alt=""
                class="main-reviews__item-img"
              />
              <div class="main-reviews__item-cloud cloud">
                <img src="img/cloud.webp" alt="" width="792" height="194" />
              </div>
              <div class="main-reviews__item-shadow"></div>
              <div class="main-reviews__item-wrapper">
                <div class="main-reviews__item-box">
                  <button class="main-reviews__item-play btn-reset">
                    <svg
                      width="110"
                      height="110"
                      viewBox="0 0 110 110"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="55" cy="55" r="55" fill="#E0C6AD" />
                      <path
                        d="M48.1172 42.6777C45.9571 41.4386 44.2058 42.4537 44.2058 44.9431V63.3137C44.2058 65.8055 45.9571 66.8193 48.1172 65.5814L64.174 56.3729C66.3348 55.1334 66.3348 53.1252 64.174 51.886L48.1172 42.6777Z"
                        fill="white"
                      />
                    </svg>
                  </button>
                  <span class="main-reviews__item-name text">Евгения</span>
                  <span class="main-reviews__item-desc text"
                    >Посещает сессии с 2021 года</span
                  >
                </div>
                <div class="main-reviews__item-text text">
                  Мы сохраняем полную конфедициальность и поэтому публикуем
                  только аудиоотзывы клиентов с их согласия
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-reviews__item">
              <img
                src="img/main-reviwes_avatar-4.webp"
                alt=""
                class="main-reviews__item-img"
              />
              <div class="main-reviews__item-cloud cloud">
                <img src="img/cloud.webp" alt="" width="792" height="194" />
              </div>
              <div class="main-reviews__item-shadow"></div>
              <div class="main-reviews__item-wrapper">
                <div class="main-reviews__item-box">
                  <button class="main-reviews__item-play btn-reset">
                    <svg
                      width="110"
                      height="110"
                      viewBox="0 0 110 110"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="55" cy="55" r="55" fill="#E0C6AD" />
                      <path
                        d="M48.1172 42.6777C45.9571 41.4386 44.2058 42.4537 44.2058 44.9431V63.3137C44.2058 65.8055 45.9571 66.8193 48.1172 65.5814L64.174 56.3729C66.3348 55.1334 66.3348 53.1252 64.174 51.886L48.1172 42.6777Z"
                        fill="white"
                      />
                    </svg>
                  </button>
                  <span class="main-reviews__item-name text">Евгения</span>
                  <span class="main-reviews__item-desc text"
                    >Посещает сессии с 2021 года</span
                  >
                </div>
                <div class="main-reviews__item-text text">
                  Мы сохраняем полную конфедициальность и поэтому публикуем
                  только аудиоотзывы клиентов с их согласия
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-reviews__item">
              <img
                src="img/main-reviwes_avatar-3.webp"
                alt=""
                class="main-reviews__item-img"
              />
              <div class="main-reviews__item-cloud cloud">
                <img src="img/cloud.webp" alt="" width="792" height="194" />
              </div>
              <div class="main-reviews__item-shadow"></div>
              <div class="main-reviews__item-wrapper">
                <div class="main-reviews__item-box">
                  <button class="main-reviews__item-play btn-reset">
                    <svg
                      width="110"
                      height="110"
                      viewBox="0 0 110 110"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="55" cy="55" r="55" fill="#E0C6AD" />
                      <path
                        d="M48.1172 42.6777C45.9571 41.4386 44.2058 42.4537 44.2058 44.9431V63.3137C44.2058 65.8055 45.9571 66.8193 48.1172 65.5814L64.174 56.3729C66.3348 55.1334 66.3348 53.1252 64.174 51.886L48.1172 42.6777Z"
                        fill="white"
                      />
                    </svg>
                  </button>
                  <span class="main-reviews__item-name text">Евгения</span>
                  <span class="main-reviews__item-desc text"
                    >Посещает сессии с 2021 года</span
                  >
                </div>
                <div class="main-reviews__item-text text">
                  Мы сохраняем полную конфедициальность и поэтому публикуем
                  только аудиоотзывы клиентов с их согласия
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-reviews__btn main-reviews__btn-prev btn-nav">
        <svg
          width="14"
          height="25"
          viewBox="0 0 14 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.14181 12.8729L12.3831 24.0831C12.7514 24.4501 13.3477 24.4495 13.7154 24.0812C14.0828 23.7129 14.0819 23.1162 13.7135 22.7489L3.14133 12.2059L13.7139 1.66293C14.0822 1.29552 14.0832 0.699272 13.7158 0.330915C13.5315 0.146263 13.29 0.0539359 13.0485 0.0539359C12.8077 0.0539359 12.5672 0.145645 12.3832 0.329016L1.14181 11.5389C0.964423 11.7154 0.864881 11.9556 0.864881 12.2059C0.864881 12.4561 0.964708 12.696 1.14181 12.8729Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="main-reviews__btn main-reviews__btn-next btn-nav">
        <svg
          width="14"
          height="25"
          viewBox="0 0 14 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.8587 12.8729L1.61737 24.0831C1.24906 24.4501 0.652763 24.4495 0.285072 24.0812C-0.082334 23.7129 -0.0813847 23.1162 0.286971 22.7489L10.8592 12.2059L0.286589 1.66293C-0.081719 1.29552 -0.0826685 0.699272 0.28469 0.330915C0.469011 0.146263 0.710483 0.0539359 0.951956 0.0539359C1.19281 0.0539359 1.43333 0.145645 1.61732 0.329016L12.8587 11.5389C13.0361 11.7154 13.1356 11.9556 13.1356 12.2059C13.1356 12.4561 13.0358 12.696 12.8587 12.8729Z"
            fill="white"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
