<section class="main-services">
  <div class="main-services__star star"></div>
  <div class="main-services__star-big star-big"></div>
  <div class="main-services__sky sky">
    <img src="../img/sky.png" alt="" />
  </div>
  <div class="main-services__container contaoner">
    <h2 class="main-services__title title">Начните сегодня</h2>
    <h3 class="main-services__subtitle subtitle">Услуги</h3>
    <div class="main-services__wrapper">
      <div class="main-services__item">
        <div class="main-services__item-border">
          <div class="main-services__item-img"></div>
        </div>

        <h4 class="main-services__item-title">Сессия</h4>
        <span class="main-services__item-subtitle text"
          >В моем офисе или онлайн
        </span>
        <p class="main-services__item-text text">
          Терапевтические сеансы и медитативные техники для четкого и
          эффективного решения Вашего запроса за самый короткий срок.
        </p>
        <a href="" class="main-services__item-btn btn text">ПОДРОБНЕЕ</a>
      </div>
      <div class="main-services__item">
        <div class="main-services__item-border">
          <div class="main-services__item-img"></div>
        </div>
        <h4 class="main-services__item-title">Медитации</h4>
        <span class="main-services__item-subtitle text"
          >В моем офисе или онлайн
        </span>
        <p class="main-services__item-text text">
          Получите готовые медитации для спокойствия, снятия тревоги и обретения
          ясности <br /><br />
        </p>
        <a href="" class="main-services__item-btn btn text">ПОДРОБНЕЕ</a>
      </div>
      <div class="main-services__item">
        <div class="main-services__item-border">
          <div class="main-services__item-img"></div>
        </div>
        <h4 class="main-services__item-title">Закрытый клуб J.O.Y</h4>
        <span class="main-services__item-subtitle text"
          >В моем офисе или онлайн
        </span>
        <p class="main-services__item-text text">
          Тематические терапевтические группы
          <br /><br />

          Следите за анонсами в телеграм-канале
        </p>
        <a href="" class="main-services__item-btn btn text">ПОДРОБНЕЕ</a>
      </div>
    </div>
  </div>
</section>
