<section class="main-about" id="main-about">
  <div class="main-about__decor decor"></div>
  <div class="main-about__line line line-2"></div>
  <div class="main-about__container container">
    <div class="main-about__ring ring"></div>

    <div class="main-about__logo">
      <img src="/img/main-about_logo.webp" alt="" />
    </div>
    <p class="main-about__text text">
      Жизнь – это непрерывное исследование, развитие и радость. Правило двух "Р"
      - развитие и радость - уже сделало сотни людей осознаннее и счастливее.
      <br />
      <br />
      И поверьте - радость откроется вам, как только вы сами откроете себя.
    </p>
    <h2 class="main-about__title title">
      Меня зовут <br />
      <span class="main-about__title-name title">Мария Валенская</span>
    </h2>
    <div class="main-about__box">
      <h2 class="main-about__box-title title">Обо мне</h2>
      <p class="main-about__box-text text">
        Со мной вы сможете найти ответы на свои вопросы, исцелить душевные
        травмы и прийти к себе быстрее, чем с классическим психологом.
        <br /><br />
        Мой метод работы направлен на то, чтобы помочь вам раскрыть свой
        потонциал, разжечь искру внутри и решить все вопросы в сфере карьеры,
        личной жизни, финансов и самоопределения.
        <br /><br />
        На моих сессиях мы решаем проблему раз и навсегда за счет глубинной
        работы над проблемой, исцеления психотравм, поиска ваших точек опоры и
        внутренних ресурсов.
      </p>
      <a href="about.html" class="main-about__box-link btn">ПОДРОБНЕЕ</a>
    </div>
  </div>
</section>
