<section class="main-open" id="main-open">
  <div class="main-open__decor decor-big"></div>
  <div class="main-open__star star-big"></div>
  <div class="main-open__sky sky">
    <img src="img/sky.webp" alt="" />
  </div>
  <div class="main-open__container container">
    <div class="main-open__info">
      <h2 class="main-open__title title">Просто открой себя</h2>
      <h3 class="main-open__subtitle subtitle">О компании</h3>
      <p class="main-open__text text">
        Цель компании J.O.Y Consulting ® - помочь вам раскрыть таланты и
        исцелить душевные раны, чтобы обрести радость, благодарность и принятие.
      </p>
      <p class="main-open__text text">
        В команде - психологи, бизнес-констультанты, трансформационные
        фотографы, специалисты по ораторскому мастерству и рат-терапии с большим
        практическим опытом.
      </p>
    </div>
    <div class="main-open__box">
      <button class="main-open__btn btn-reset">
        <svg
          width="176"
          height="176"
          viewBox="0 0 176 176"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="88" cy="88" r="88" fill="#E0C6AD" fill-opacity="0.2" />
          <circle cx="88" cy="88" r="70" fill="#E0C6AD" />
          <path
            d="M79.2388 72.3169C76.4896 70.7399 74.2607 72.0318 74.2607 75.2001V98.5808C74.2607 101.752 76.4896 103.043 79.2388 101.467L99.6748 89.7472C102.425 88.1696 102.425 85.6138 99.6748 84.0366L79.2388 72.3169Z"
            fill="white"
          />
        </svg>
      </button>
    </div>
  </div>

  <div class="main-open__modal modal__video">
    <iframe
      class="main-open__modal-video modal__video-item"
      width="560"
      height="315"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <div class="main-open__modal-close modal__video-close">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24px"
        height="24px"
      >
        <path
          d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"
        />
      </svg>
    </div>
  </div>
</section>
