<section class="main-questions">
  <div class="main-questions__sky sky">
    <img src="img/sky.webp" alt="" width="5928" height="392" />
  </div>
  <div class="main-questions__container container">
    <div class="main-questions__star-big star-big"></div>
    <h2 class="main-questions__title title">Остались вопросы?</h2>
    <h3 class="main-questions__subtitle subtitle">Контакты</h3>
    <div class="main-questions__wrapper">
      <img src="img/main-questions.webp" alt="" class="main-questions__img" />
      <div class="main-questions__info">
        <p class="main-questions__info-text text">
          Кураторы J.O.Y. готовы ответить на все вопросы, которые вас волнуют.
          Они подробно расскажут, как проходит сессия и чего стоит от неё
          ожидать. <br /><br />Нажмите на кнопку “Нужна консультация” и вы сразу
          попадёте в диаалог с нами в Телеграме. <br /><br />При необходимости –
          можно созвониться голосом.
        </p>
        <div class="main-questions__info-box">
          <a href="" class="main-questions__info-link btn"
            >нужна консультация</a
          >
          <a href="session.html" class="main-questions__info-link btn">
            записаться на сессию</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
