<section class="main-process" id="main-process">
  <div class="main-process__decor decor"></div>
  <div class="main-process__container container">
    <div class="main-process__star star"></div>
    <div class="main-process__star star-big"></div>

    <div class="main-process__cloud cloud">
      <img src="img/cloud.webp" alt="" width="362" height="558" />
    </div>
    <div class="main-process__cloud-big cloud">
      <img src="img/cloud.webp" alt="" width="927" height="334" />
    </div>

    <h2 class="main-process__title title">Как проходит сессия</h2>
    <h3 class="main-process__subtitle subtitle">Процесс</h3>

    <div class="main-process__wrapper">
      <div class="main-process__item">
        <div class="main-process__box">
          <h4 class="main-process__box-title title">
            РАССЛАБЛЕНИЕ ЧЕРЕЗ ТЕХНИКИ РЕЛАКСАЦИИ
          </h4>
          <p class="main-process__box-text text">
            В этом состоянии работа мозга замедляется (на альфа-тета волнах),
            суетливый ум успокаивается. Удается услышать подсознание, которое
            выдает истинные ответы, позволяет увидеть причины и наилучшие
            решения для вашей ситуации. <br /><br />Вы не успеваете что-то
            обдумать или придумать и начинаете находить ответы в своей истинной
            сути. Это безопасный, точный и легкий метод. Все дело в вашем
            внимании.
          </p>
        </div>
        <img src="img/main-process_1.webp" alt="" class="main-process__img" />
        <div class="main-process__box-cloud cloud">
          <img src="img/cloud.webp" alt="" width="362" height="558" />
        </div>
        <div class="main-process__box-cloud-big cloud">
          <img src="img/cloud.webp" alt="" width="828" height="334" />
        </div>
      </div>
      <div class="main-process__item">
        <img src="img/main-process_2.webp" alt="" class="main-process__img" />
        <div class="main-process__box-cloud cloud">
          <img src="img/cloud.webp" alt="" width="927" height="334" />
        </div>
        <div class="main-process__box">
          <h4 class="main-process__box-title title">
            РАБОТА С ЗАПРОСОМ В МЕДИТАТИВНОМ СОСТОЯНИИ
          </h4>
          <p class="main-process__box-text text">
            На этом этапе мы выявляем ваши истинные желания, находим причины
            зацикленности определенных сфер жизни, тупиков, неудач, проблем с
            организмом, исцеляем психотравмы. <br /><br />
            Ищем первопричины проблем: почему не хватает денег, есть проблемы в
            отношениях, чувствуете постоянную слабость, апатию, раздражение или
            любой вопрос из другой области. После чего выясняем, как вы к этому
            пришли и находим возможные пути решения.
          </p>
        </div>
      </div>
      <div class="main-process__item">
        <div class="main-process__box">
          <h4 class="main-process__box-title title">
            Индивидуальные рекомендации
          </h4>
          <p class="main-process__box-text text">
            Я объясняю, что вам нужно делать, чтобы разрешить ваш запрос
            максимально быстро и качественно, задания как продолжение каждого
            сеанса. <br /><br />
            После сессии вы уходите с ясной головой и вариантами решения, на
            Душе становится легче, а в материальном мире все начинает
            преображаться. Задания важны, так, эффект от сеанса только
            закрепляется.
          </p>
        </div>
        <img src="img/main-process_3.webp" alt="" class="main-process__img" />
        <div class="main-process__box-cloud cloud">
          <img src="img/cloud.webp" alt="" width="927" height="334" />
        </div>
      </div>

      <div class="main-process__process-bar"></div>
      <div class="main-process__process-bar"></div>
      <div class="main-process__process-bar"></div>
      <div class="main-process__process-line"></div>
      <div class="main-process__process-line"></div>
    </div>
  </div>
</section>
