<section class="main-meditation">
  <div class="main-meditation__sky sky">
    <img src="img/sky.webp" alt="" width="5928" height="392" />
  </div>
  <div class="main-meditation__container container">
    <div class="main-meditation__ring ring"></div>
    <div class="main-meditation__star-big star-big"></div>
    <div class="main-meditation__line"></div>
    <h2 class="main-meditation__title title">Начать – просто</h2>
    <h3 class="main-meditation__subtitle subtitle">
      Начни с бесплатной медитации
    </h3>
    <div class="main-meditation__wrapper">
      <div class="main-meditation__info">
        <p class="main-meditation__text text">
          Если вы не уверены, что готовы начать с полноценной сессии –начните с
          медитации, которую я дарю прямо сейчас. <br /><br />Получите
          6-минутную медитацию на активацию сердца, которая поможет вам
          расслабиться и восполнить свою энергию за считанные минуты.
        </p>
        <a href="meditation.html" class="main-meditation__link btn"
          >ПОЛУЧИТЬ МЕДИТАЦИЮ</a
        >
      </div>
      <img src="img/main-meditation.webp" class="main-meditation__img" alt="" />
    </div>
  </div>
</section>
