<section class="meditation-price">
  <div class="meditation-price__container container">
    <div class="meditation-price__star-big star-big"></div>

    <div class="meditation-price__wrapper meditation-price__individual">
      <span class="meditation-price__individual-title title"
        >Стоимость индивидуальной медитации: 8 000 рублей</span
      >
      <button class="meditation-price__individual-btn btn">
        заказать медитацию
      </button>
    </div>
    <div class="meditation-price__wrapper meditation-price__gift">
      <img src="img/gift.png" alt="" class="meditation-price__gift-img" />
      <img src="img/heand.png" alt="" class="meditation-price__gift-img" />
      <div class="meditation-price__gift-box">
        <span class="meditation-price__gift-title title"
          >Получите готовую медитацию в подарок прямо сейчас</span
        >
        <span class="meditation-price__gift-text text"
          >И прочувствуйте на себе ее эффект
        </span>
        <a href="" class="meditation-price__gift-btn btn"
          >получить в телеграм</a
        >
      </div>
    </div>
  </div>
</section>
