<section class="meditation-hero">
  <div class="meditation-hero__sky sky">
    <img src="img/sky.webp" alt="" width="5928" height="392" />
  </div>

  <div class="meditation-hero__decor decor"></div>
  <div class="meditation-hero__container container">
    <div class="meditation-hero__ring ring"></div>
    <div class="meditation-hero__star-big star-big"></div>

    <h1 class="meditation-hero__title title">Медитации</h1>
    <h2 class="meditation-hero__subtitle subtitle">
      Получите готовые медитации на:
    </h2>
    <ul class="meditation-hero__list list-reset">
      <li class="meditation-hero__item">
        <div class="meditation-hero__item-img">
          <img src="../img/money.png" alt="" />
        </div>
        <span class="meditation-hero__item-text text"
          >Увеличение <br />денежного потока</span
        >
      </li>
      <li class="meditation-hero__item">
        <div class="meditation-hero__item-img">
          <img src="../img/boll.png" alt="" />
        </div>
        <span class="meditation-hero__item-text text"
          >Исполнение <br />желаний</span
        >
      </li>
      <li class="meditation-hero__item">
        <div class="meditation-hero__item-img">
          <img src="../img/heart.png" alt="" />
        </div>
        <span class="meditation-hero__item-text text"
          >Активация сердечного центра для обретения баланса и исцеления обид
        </span>
      </li>
    </ul>

    <p class="meditation-hero__text text">
      Также вы можете заказать бесплатную медитацию, которая будет создана
      исключительно под ваш запрос. Такие медитации имеют гораздо больший эффект
      и попадают в самую точку.
    </p>
  </div>
</section>
