<section class="session-price" id="session-price">
  <div class="session-price__container container">
    <ul class="session-price__list list-reset">
      <li class="session-price__item">
        <span class="session-price__title title">Стоимость 1 сессии:</span>
        <div class="session-price__box">
          <span class="session-price__price text">15 000 рублей</span>
        </div>

        <span class="session-price__text text">1 часовая консультация</span>
        <button
          class="session-price__btn btn"
          data-graph-path="modal"
          data-graph-animation="custom"
        >
          записаться на сессию
        </button>
      </li>
      <li class="session-price__item">
        <span class="session-price__title title">Стоимость 5 сессий:</span>
        <div class="session-price__box">
          <span class="session-price__price-old text">75 000 рублей</span>
          <span class="session-price__price text">45 000 рублей</span>
        </div>
        <span class="session-price__text text">5 часовых консультация</span>
        <button
          class="session-price__btn btn"
          data-graph-path="modal"
          data-graph-animation="custom"
        >
          записаться на сессию
        </button>
      </li>
      <li class="session-price__item">
        <span class="session-price__title title">Стоимость 8 сессий:</span>
        <div class="session-price__box">
          <span class="session-price__price-old text">120 000 рублей</span>
          <span class="session-price__price text">70 000 рублей</span>
        </div>
        <span class="session-price__text text">8 часовых консультация</span>
        <button
          class="session-price__btn btn"
          data-graph-path="modal"
          data-graph-animation="custom"
        >
          записаться на сессию
        </button>
      </li>
    </ul>
  </div>
</section>
