<section class="session-requests">
  <div class="session-requests__line line line-1"></div>
  <div class="session-requests__container container">
    <div class="session-requests__ring ring"></div>
    <div class="session-requests__star star"></div>
    <h2 class="session-requests__title title">
      Самые частые запросы, с которыми приходят на мои сессии:
    </h2>
    <ul class="session-requests__list list-reset">
      <li class="session-requests__list-item text">
        Самореализация, проявить себя и свои таланты;
      </li>
      <li class="session-requests__list-item text">
        Избавиться от негативных предубеждений;
      </li>
      <li class="session-requests__list-item text">
        Исцелять страхи, обиды и травмы;
      </li>
      <li class="session-requests__list-item text">
        Обрести уверенность в будущем;
      </li>
      <li class="session-requests__list-item text">
        Научиться совмещать семью, работу, карьеру и любимые занятия;
      </li>
      <li class="session-requests__list-item text">
        Почувствовать свою сексуальность и желаниость;
      </li>
      <li class="session-requests__list-item text">
        Наладить гармоничные отношения с партнером, детьми, близкими;
      </li>
      <li class="session-requests__list-item text">
        Научиться выстраивать и отстаивать личные границы;
      </li>
      <li class="session-requests__list-item text">
        Начать жить яркой, наполненной жизнью, не откладывая ее на “потом”;
      </li>
      <li class="session-requests__list-item text">
        Наладить свободное время на себя, путешествия, радоваться миру.
      </li>
    </ul>
  </div>
</section>
