<section class="session-hero">
  <div class="session-hero__decor decor"></div>

  <div class="session-hero__sky sky">
    <img src="img/sky.webp" alt="" width="5928" height="392" />
  </div>

  <div class="session-hero__container container">
    <div class="session-hero__star-big star-big"></div>
    <div class="session-hero__star star"></div>

    <div class="session-hero__video">
      <div class="session-hero__video-ring ring"></div>
      <img
        src="../img/session-hero.png"
        alt=""
        class="session-hero__video-img"
      />
      <button class="session-hero__video-btn btn-reset">
        <svg
          width="16"
          height="18"
          viewBox="0 0 16 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.11922 1.2623C1.58751 0.383694 0.345703 1.10346 0.345703 2.86866V15.8951C0.345703 17.662 1.58751 18.3809 3.11922 17.5031L14.5049 10.9734C16.0372 10.0945 16.0372 8.67055 14.5049 7.79183L3.11922 1.2623Z"
            fill="white"
          />
        </svg>
      </button>
    </div>

    <div class="session-hero__wrapper">
      <h1 class="session-hero__title title">Сессия</h1>
      <p class="session-hero__text text">
        На моих сессиях мы погружаемся в медитативное состояние в котором мозг
        работает в режиме альфа и тета волн. Это состояние близо ко сну.
        <br /><br />В этом состоянии мозг замедляется, а подсознание бодрствует
        и выдает истинные ответы, причины и наилучшие решения для вашей
        ситуации. <br />Вы не успеваете что-то обдумать или придумать, а
        начинаете давать ответы из своей истины и сути. <br /><br />Просыпается
        ваше истинное Я, которое заглушается в привычном ритме жизни. Вы
        чувствуете спокойствие и расслабление, а я, как проводник, считываю ваше
        поле и даю ответы, которые вижу в проявлении вашей высшей энергии.
      </p>
      <a href="#session-price" class="session-hero__link btn">Выбрать тариф</a>
    </div>
  </div>

  <div class="session-hero__modal modal__video">
    <iframe
      class="session-hero__modal-video modal__video-item"
      width="560"
      height="315"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <button class="session-hero__modal-close modal__video-close btn-reset">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24px"
        height="24px"
      >
        <path
          d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"
        />
      </svg>
    </button>
  </div>
</section>
